---
// Props
const { pageTitle, pageDescription, currentURL, ogImage, articleAuthor } = Astro.props;
// Data Imports
import { siteData } from '../global';
---
<!-- Meta Data -->
<title>{pageTitle || "Fun&Grains"}</title>
<meta name="description" content={pageDescription || "Fun&Grains Is a Vegan Food Blog"} />
{currentURL && <link rel="canonical" href={currentURL} />}
<!-- Open Graph -->
<meta property="og:site_name" content={siteData.name} />
<meta property="og:title" content={pageTitle || "Fun&Grains" } />
<meta property="og:description" content={pageDescription || "Fun&Grains Is a Vegan Food Blog"} />
<meta property="og:locale" content={siteData.ogLang} />
{articleAuthor && <meta property="article:author" content={articleAuthor} />}
{currentURL && <meta property="og:url" content={currentURL} />}
<meta property="og:type" content="article" />
<meta property="og:image" content={ogImage} />
<meta property="og:image:secure_url" content={ogImage} />
<meta property="og:image:type" content="image/webp" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image:alt" content="A shiny red apple with a bite taken out" />